<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-title">
				<thead>
					<tr>
						<th>通報一覧</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>通報者</th>
						<th>通報相手</th>
						<th>通報日時</th>
					</tr>
				</thead>
				<tbody>
					<% @reports.each do |report| %>
						<tr>
							<td><%= link_to report.id, admins_report_path(report) %></td>
							<td><%= link_to report.user.id, admins_customer_path(report.user) %></td>
							<td>
								<%= link_to User.find(report.respondent_id).id, admins_customer_path(report.respondent_id) %>
								</td>
							<td><%= report.created_at %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<%= paginate @reports %>
</div>