<div class="row login-form">
  <div class="col-sm-8 col-md-6 col-lg-6 offset-sm-2 offset-md-3 offset-lg-3">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group row">
        <%= f.label :"Eメール", class: "col-3 col-form-label" %>
        <div class="col-9">
          <%= f.text_field :email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :"パスワード", class: "col-3 col-form-label" %>
        <div class="col-9">
          <%= f.password_field :password, class: "form-control",autocomplete: "new-password" %>
        </div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-success", style: "width: 100%;" %>
      </div>
      <hr class="my-4">
      <p>ユーザー登録がまだの方はこちら</p>
      <%= link_to "ユーザー登録", new_user_registration_path, class: "btn btn-primary", style: "width: 40%;" %>
    <% end %>
  </div>
</div>



