<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6 offset-lg-1">
      <table class="table table-bordered table-title">
        <thead>
          <tr>
            <th>依頼詳細</th>
          </tr>
        </thead>
      </table>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>タイトル</th>
            <td><%= @request.title %></td>
          </tr>
          <tr>
            <th>詳細</th>
            <td><%= @request.content %></td>
          </tr>
          <tr>
            <th>依頼者</th>
            <td><%= link_to @request.user.name, admins_customer_path(@request.user) %></td>
          </tr>
          <tr>
            <th>日程</th>
            <td><%= @request.datetime %></td>
          </tr>
          <tr>
            <th>開催場所</th>
            <td>
              <p><%= @request.address %></p>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <div id="map"></div>
            </td>
          </tr>
          <tr>
            <th>募集人数</th>
            <td><%= @request.capacity %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <table class="table table-bordered table-title">
        <thead>
          <tr>
            <th>助っ人一覧</th>
          </tr>
        </thead>
      </table>
      <% if @request.participants.exists? == false %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>助っ人はいません</td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <table class="table table-bordered">
        <% @num = 1 %>
        <tbody>
          <% @participants.each do |participant| %>
            <tr>
              <th><%= @num %></th>
              <td><%= participant.user.name %></td>
            </tr>
            <% @num = @num + 1 %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
// latitude、longitudeから位置を特定
    var test ={lat: <%= @request.latitude %>, lng: <%= @request.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @request.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

//Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<!-- 以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください -->
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
</script>
<!-- 表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。 -->
<style type="text/css">
  #map { height: 200px;
         width: 100%;}
</style>

<!-- mapの表示 -->