<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<table class="table table-bordered table-title ">
				<thead>
					<tr>
						<th><%= @user.name %>さんのプロフィール</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th>ユーザーID</th>
						<td><%= @user.id %></td>
					</tr>
					<tr>
						<th>名前</th>
						<td><%= @user.name %></td>
					</tr>
					<tr>
						<th>性別</th>
						<td><%= @user.sex %></td>
					</tr>
					<tr>
						<th>年齢</th>
						<td><%= @user.age %>才</td>
					</tr>
					<tr>
						<th>保有チケット</th>
						<td><%= @user.ticket %>枚</td>
					</tr>
					<tr>
						<th>アカウント</th>
						<td>
							<% if @user.is_banned == true %>
								停止中
							<% elsif @user.is_deleted == true %>
								退会済み
							<% else %>
								通常
							<% end %>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-md-6">
			<table class="table table-bordered table-title">
				<thead>
					<tr>
						<th>チケット購入履歴</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>チケットID</th>
						<th>購入数</th>
						<th>請求額</th>
						<th>購入日</th>
					</tr>
				</thead>
				<tbody>
					<% @purchases.each do |purchase| %>
						<tr>
							<th><%= purchase.id %></th>
							<td><%= purchase.ticket_id %></td>
							<td><%= purchase.quantity %></td>
							<td><%= purchase.charge %></td>
							<td><%= purchase.created_at %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @purchases %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6">
			<table class="table table-bordered table-title">
				<thead>
					<tr>
						<th>依頼履歴</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>依頼日</th>
					</tr>
				</thead>
				<tbody>
					<% @requests.each do |request| %>
						<tr>
							<td><%= link_to request.id, admins_request_path(request) %></td>
							<td><%= request.datetime %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @requests %>
		</div>
		<div class="col-sm-12 col-md-6">
			<table class="table table-bordered table-title">
				<thead>
					<tr>
						<th>助っ人履歴</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>依頼ID</th>
						<th>依頼日</th>
					</tr>
				</thead>
				<tbody>
					<% @participants.each do |participant| %>
						<tr>
							<th><%= participant.id %></th>
							<td><%= link_to participant.request.id, admins_request_path(participant.request) %></td>
							<td><%= participant.request.created_at %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<%= paginate @participants %>
		</div>
	</div>
	<div class="row">
		<div class="col-6 offset-3">
			<% if @user.is_banned == true %>
				<%= link_to "アカウント停止を解除する", admins_unban_path(@user), class: "btn btn-primary", method: :patch, data: { confirm: "<i class='fa fa-exclamation-circle'></i>本当にアカウント停止を解除しますか？",
                                cancel: "戻る",
                                commit: '解除する' } %>
			<% else %>
				<%= link_to "アカウントを停止する", admins_path(@user), class: "btn btn-danger", method: :patch, data: { confirm: "<i class='fa fa-exclamation-circle'></i>本当にアカウントを停止しますか？",
                                cancel: "戻る",
                                commit: '停止する' } %>
			<% end %>
		</div>
	</div>
</div>