<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>EDIT USER</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
        <%= render 'layouts/error_messages', model: @user %>
      </div>
  </div>
	<div class="row">
		<div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3 edit-user-form">
			<%= form_with model: @user, local: true, url: users_customer_path(@user) do |f| %>
			    <div class="form-group row">
			        <%= f.label :"*名前", class: "col-3 col-form-label" %>
			        <div class="col-9">
		            	<%= f.text_field :name, class: "form-control" %>
	            	</div>
			    </div>
        		<div class="form-group row">
          			<%= f.label :"*年齢", class: "col-3 col-form-label" %>
          			<div class="col-3">
            			<%= f.select :age, options_for_select((1..99).to_a), class: "form-control" %>
          			</div>
        		</div>
            <div class="form-group row">
              <%= f.label :"*性別", class: "col-3 col-form-label" %>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-danger">
                    <%= f.radio_button :sex, "女性" %>女性
                  </label>
                  <label class="btn btn-outline-primary">
                    <%= f.radio_button :sex, "男性" %>男性
                  </label>
                </div>
            </div>
            <div class="form-group row">
              <%= f.label :"自己紹介文", class: "col-3 col-form-label" %>
              <div class="col-9">
                  <%= f.text_area :introduction, class: "form-control" %>
                </div>
            </div>
        		<div class="form-group row">
        			<%= f.label :"プロフィール画像", class: "col-3 col-form-label" %>
        			<div class="col-9">
        				<%= f.attachment_field :image %>
        			</div>
        		</div>
			    <div class="actions">
			        <%= f.submit "更新する", class: "btn btn-success", style: "width: 100%;" %>
			    </div>
			<% end %>
      <div class="caution">
        <p>*のついた項目は必ず入力してください。</p>
      </div>
      <hr class="my-4">
      <div class="caution">
        <p>退会を希望の方はこちら</p>
      </div>
      <%= link_to "退会する", users_withdraw_path(@user), class: "btn btn-outline-danger btn-sm", method: :patch, data: { confirm: "<i class='fa fa-exclamation-circle'></i>本当に退会しますか？",
                                cancel: "戻る",
                                commit: '退会する' } %>
		</div>
	</div>
</div>

