<div class="container">
	<div class="row">
		<div class="col-sm-6 offset-sm-3">
			<%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg', class: "img" %>
		</div>
		<div class="col-sm-6 offset-sm-3">
			<p>
				<%= @user.name %>
				<% if @user.sex == "女性" %>
					<i class="fa fa-venus"></i>
				<% else %>
					<i class="fa fa-mars"></i>
				<% end %>
			</p>
			<p><%= @user.age %>歳</p>
			<p><%= @user.ticket %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-5 offset-lg-1">
			<table class="table table-bordered table-title">
				<thead>
					<tr>
						<th><%= @user.name %>さんの依頼履歴</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<tbody>
					<% @num = 1 %>
					<% @requests.each do |request| %>
						<tr>
							<th><%= @num %></th>
							<td><%= link_to request.title, users_request_path(request) %></td>
							<td><%= request.datetime %></td>
							<td>
								<% if DateTime.now > request.datetime %>
									済
								<% else %>
									未
								<% end %>
							</td>
						</tr>
						<% @num = @num + 1 %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-5">
			<table class="table table-bordered table-title">
				<thead>
					<tr>
						<th><%= @user.name %>さんの助っ人履歴</th>
					</tr>
				</thead>
			</table>
			<table class="table table-bordered">
				<tbody>
					<% @num = 1 %>
					<% @participants.each do |participant| %>
						<tr>
							<th><%= @num %></th>
							<td><%= link_to participant.request.title, users_request_path(participant.request) %></td>
							<td><%= participant.request.datetime %></td>
							<td>
								<% if DateTime.now > participant.request.datetime %>
									済
								<% else %>
									未
								<% end %>
							</td>
						</tr>
						<% @num = @num + 1 %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<% if @user.id == current_user.id %>
				<p><%= link_to "編集する", edit_users_customer_path(@user), class: "btn btn-outline-success" %></p>
			<% end %>
		</div>
	</div>
</div>
