<h1><%= @user.name %></h1>
<h1><%= @user.age %></h1>
<h1><%= @user.sex %></h1>
<% if @user.id == current_user.id %>
	<h1>助っ人予定のイベント</h1>
	<% @requests.each do |request| %>
		<%= link_to request.id, users_request_path(request) %>
	<% end %>
	<p><%= link_to "編集する", edit_users_customer_path(@user) %></p>
<% end %>