<div class="container">
	<% @requests.each do |request| %>
		<%= link_to users_request_path(request) do %>
			<div class="col-sm-12 req-box">
				<div class="req-img">
					<%= attachment_image_tag request, :image, :fill, 150, 100, format: 'jpg', fallback: "1560031.jpg", size: '130x100' %><br>
				</div>
				<div class="req-text">
					<p><%= request.title %></p>
					<p><%= request.content %></p>
				</div>
			</div>
		<% end %>
	<% end %>
	<%= paginate @requests %>
</div>