<div class="container">
	<% if flash[:error] %>
		<div class="error-message">
			<i class="fa fa-exclamation-circle"></i><%= flash[:error] %>
		</div>
	<% end %>
	<%= render 'layouts/error_messages', model: @request %>
	<div class="row">
		<div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3 form">
			<%= form_with model: @request, local: true, url: users_requests_path, method: :post, class: "form-horizontal" do |f| %>
				<div class="form-group row">
					<%= f.label :"*タイトル", class: "col-4 control-label" %>
					<div class="col-8">
						<%= f.text_field :title, class: "form-control" %>
					</div>
				</div>
				<div class="form-group row">
					<%= f.label :"詳細", class: "col-4 control-label" %>
					<div class="col-8">
						<%= f.text_area :content, class: "form-control" %>
					</div>
				</div>
				<div class="form-group row">
					<%= f.label :"*日時", class: "col-4 control-label" %>
					<div class="input-group col-8" data-target-input="nearest">
						<%= f.text_field :datetime, id: "datetime",class: "form-control datepicker", data: { target: '#datetime'} %>
						<div class="input-group-append" data-target="#datetime" data-toggle="datetimepicker">
				        	<div class="input-group-text"><i class="fa fa-calendar"></i></div>
				   		</div>
					</div>
				</div>
			    <div class="form-group row">
			    	<%= f.label :"*住所", class: "col-4 control-label" %>
				    <div class="col-8">
						<%= f.text_field :address, class: "form-control" %>
					</div>
			    </div>
			    <div class="form-group row">
			    	<%= f.label :"*募集人数", class: "col-4 control-label" %>
				    <div class="col-3">
						<%= f.select :capacity, options_for_select((1..99).to_a), class: "form-control" %>
					</div>
			    </div>
				<div class="form-group row">
					<%= f.label :"*募集締切日時", class: "col-4 control-label" %>
					<div class="input-group col-8" data-target-input="nearest">
						<%= f.text_field :deadline, id: "deadline",class: "form-control datepicker", data: { target: '#deadline'} %>
						<div class="input-group-append" data-target="#deadline" data-toggle="datetimepicker">
				        	<div class="input-group-text"><i class="fa fa-calendar"></i></div>
				   		</div>
					</div>
				</div>
			    <div class="form-group row">
			    	<%= f.label :"サムネイル", class: "col-4 control-label" %>
				    <div class="col-8">
						<%= f.attachment_field :image %>
					</div>
			    </div>
				<div>
					<%= f.submit "依頼する", class: "btn btn-primary" %>
				</div>
			<% end %>
			<div class="caution">
				<p>・*のついた項目は必ず入力してください。<br>・依頼の際には、募集人数分のチケットが消費されます。<br>・募集人数に助っ人数が達しなかった場合、依頼終了後または依頼削除後に余分のチケットが返却されます。</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetime').datetimepicker();
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#deadline').datetimepicker();
    });
</script>
