<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <h2><%= @request.title %></h2>
        <p><%= @request.content %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-7 col-lg-6 offset-lg-1">
      <table class="table table-bordered table-title">
        <thead>
          <tr>
            <th>依頼詳細</th>
          </tr>
        </thead>
      </table>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>依頼者</th>
            <td><%= link_to @request.user.name, users_customer_path(@request.user) %></td>
          </tr>
          <tr>
            <th>日程</th>
            <td><%= @request.datetime %></td>
          </tr>
          <tr>
            <th>開催場所</th>
            <td>
              <p><%= @request.address %></p>
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <div id="map"></div>
            </td>
          </tr>
          <tr>
            <th>募集人数</th>
            <td><%= @request.capacity %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-4">
      <table class="table table-bordered table-title">
        <thead>
          <tr>
            <th>助っ人一覧</th>
          </tr>
        </thead>
      </table>
      <% if @request.participants.exists? == false %>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>助っ人はいません</td>
            </tr>
          </tbody>
        </table>
      <% end %>
      <table class="table table-bordered">
        <% @num = 1 %>
        <tbody>
          <% @participants.each do |participant| %>
            <tr>
              <th><%= @num %></th>
              <td><%= participant.user.name %></td>
            </tr>
            <% @num = @num + 1 %>
          <% end %>
        </tbody>
      </table>
      <% if @request.user.id != current_user.id %>
          <% if @request.participants.exists?(user_id: current_user.id) %>
            <%= link_to "キャンセルする", users_request_participant_path(@request, @participant), method: :delete, class: "btn btn-danger", data: { confirm: "<i class='fa fa-exclamation-circle'></i>本当に助っ人登録をキャンセルしますか？",
                                                         cancel: "戻る",
                                                         commit: "キャンセルする" } %>
          <% else %>
            <% if @request.capacity > @request.participants.count %>
              <%= link_to "助っ人になる", users_request_participants_path(@request), method: :post, class: "btn btn-info", data: { confirm: "<i class='fa fa-exclamation-circle'></i>本当に助っ人登録しますか？",
                                                     cancel: "戻る",
                                                     commit: "登録する" } %>
            <% else %>
              <p>定員に達しました。</p>
            <% end %>
          <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <% if @request.user.id == current_user.id %>
        <%= link_to "編集する", edit_users_request_path, class: "btn btn-outline-success" %>
        <%= link_to "削除する", users_request_path, method: :delete, class: "btn btn-outline-danger" %>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function initMap() {
// latitude、longitudeから位置を特定
    var test ={lat: <%= @request.latitude %>, lng: <%= @request.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @request.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

//Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<!-- 以下の記述の中にあるYOUR_API_KEYには取得したご自身のAPIキーを記述してください -->
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAzOoOIk2dKXLOvrab2OalNidBJTOE0ob0&callback=initMap">
</script>
<!-- 表示するmapのcssです。ご自身でカスタマイズしてください。高さが設定されていないと表示されないことがあります。 -->
<style type="text/css">
  #map { height: 200px;
         width: 100%;}
</style>

<!-- mapの表示 -->
