<!DOCTYPE html>
<html>
  <head>
    <title>Suketto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "マイページ", users_customer_path(current_user) %>
    <%= link_to "助っ人依頼一覧", users_requests_path %>
    <%= yield %>
  </body>
</html>
