<div class="container">
  <div class="row signup-form">
    <div class="col-sm-10 col-md-8 col-lg-6 offset-sm-1 offset-md-2 offset-lg-3">
      <h2>ユーザー登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group row">
          <%= f.label :"名前", class: "col-3 col-form-label" %>
          <div class="col-9">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :"年齢", class: "col-3 col-form-label" %>
          <div class="col-3">
            <%= f.text_field :age, class: "form-control" %>
          </div>
          <%= f.label :"性別", class: "col-3 col-form-label" %>
          <div class="col-3">
            <%= f.text_field :sex, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :"Eメール", class: "col-3 col-form-label" %>
          <div class="col-9">
            <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :"パスワード", class: "col-3 col-form-label" %>
          <div class="col-9">
            <%= f.password_field :password, class: "form-control",autocomplete: "new-password", :placeholder => "６文字以上の半角英数字" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :"パスワード", class: "col-3 col-form-label" %>
          <div class="col-9">
            <%= f.password_field :password_confirmation, class: "form-control",autocomplete: "new-password", :placeholder => "確認用" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "登録", class: "btn btn-primary", style: "width: 100%;" %>
        </div>
      <% end %>
      <hr class="my-4">
      <p>ユーザーの方はこちら</p>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-success", style: "width: 40%;" %>
    </div>
  </div>
</div>
